<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Angular</title>

    <link rel="stylesheet" href="../assets/global.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reveal.js/dist/theme/white.css"
      id="theme"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/highlight.js/styles/github.min.css"
    />

    <style>
      .reveal pre code {
        font-size: 0.9em;
      }

      section {
        font-size: 0.7em;
      }
    </style>

    <script>
      class AngularPlanList extends HTMLElement {
        static get observedAttributes() {
          return ["completed"];
        }

        constructor() {
          super();
          this.attachShadow({ mode: "open" });
          this.render();
        }

        attributeChangedCallback() {
          this.render();
        }

        get completed() {
          return Number(this.getAttribute("completed")) || 0;
        }

        render() {
          let remaining = this.completed;

          const mark = (label) => {
            if (remaining > 0) {
              remaining--;
              return `${label} <span class="check">✅</span>`;
            }
            if (remaining === 0) {
              remaining--;
              return `${label} <span class="check">🔄️</span>`;
            }
            return label;
          };

          this.shadowRoot.innerHTML = `
          <style>
            :host {
             text-align: start;
            }

            .check {
              font-size: 0.8em;
              margin-left: 8px;
              color: green;
            }
          </style>


              <ol>
                <li>${mark(
                  "Création premier projet, cli, structure, fichiers de conf"
                )}</li>

                <li>Composants
                  <ul>
                    <li>${mark("Base")}</li>
                    <li>${mark("Data binding")}</li>
                    <li>${mark("Control flow")}</li>
                    <li>${mark("Les signaux")}</li>
                    <li>${mark("Input/output")}</li>
                  </ul>
                </li>


                <li>Services
                  <ul>
                    <li>${mark("Base")}</li>
                    <li>${mark("Http")}</li>
                    <li>${mark("Intercepteur")}</li>
                  </ul>
                </li>

                <li>Routage
                  <ul>
                    <li>${mark("Base")}</li>
                    <li>${mark("Controle d'accès")}</li>
                  </ul>
                </li>


                <li>${mark("Directives")}</li>
                <li>${mark("Pipes")}</li>

                <li>${mark("Formulaires")}</li>
                <li>${mark("Angular material")}</li>
                <li>${mark("Angular < 21 && 16")}</li>

                <li>Tests unitaires
                  <ul>
                    <li>${mark("Kesako")}</li>
                    <li>${mark("Test de composants, de services")}</li>
                  </ul>
                </li>
              </ol>
          `;
        }
      }

      customElements.define("app-plan", AngularPlanList);
    </script>
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <section data-background-image="../assets/fond-bienvenue.png">
          <h1>Angular</h1>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>C'est quoi Angular ?</h3>
          <p>
            Angular est un framework front-end développé par Google pour créer
            des applications web modernes, robustes et maintenables
          </p>
          <ul>
            <li>Basé sur TypeScript</li>
            <li>Architecture orientée composants</li>
            <li>Pensé pour les applications SPA (Single Page Application)</li>
            <li>Très structuré by design</li>
            <ul>
              <li>Très utilisé en contexte professionnel / entreprise</li>
            </ul>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Angular vs AngularJS</h3>

          <ul>
            <li>
              AngularJS :
              <ul>
                <li>Crée par Misko Hevery (Google) en 2010</li>
                <li>Framework JavaScript Google, MVC, two-way data-binding</li>
              </ul>
            </li>

            <li>
              Angular 2+ :
              <ul>
                <li>Refonte totale (AngularJS ≠ Angular)</li>
                <li>Par Misko Hevery + équipe angular en 2016</li>
                <li>TypeScript, architecture par composants, CLI</li>
              </ul>
            </li>
          </ul>
          <div
            style="
              color: red;
              border: 3px solid red;
              border-radius: 50px;
              margin: 5px;
              padding: 2px;
            "
          >
            <p>Angular</p>
            <p>≠</p>
            <p>AngularJS</p>
          </div>
          <p>
            (Pas le peine de chercher de la doc Angular dans la doc AngularJS)
          </p>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Date clé Angular</h3>

          <ul>
            <li>
              Angular 2 (2016) à 16 (2023)
              <ul>
                <li>montée en maturité (forms et HTTP stabilisés)</li>
                <li>performances</li>
                <li>tooling (CLI)</li>
                <li>Ivy*</li>
              </ul>
            </li>

            <li>
              Angular 16+ (2013) à 21: Baptisé renaissance
              <ul>
                <li>Départ du lead dev</li>
                <li>Signaux (gestion d'état)</li>
                <li>Perf, DX amélioré (moins de code boilerplate)</li>
                <li>SSR / hydration simplifiés</li>
              </ul>
            </li>
          </ul>

          <p>A savoir: Du code Angular 2 marche dans un projet Angular 21</p>

          <blockquote style="font-size: 0.6em">
            *Ivy est le moteur de rendu d'Angular qui compile les composants de
            façon plus efficace afin de réduire la taille des bundles, améliorer
            les performances et accélérer la compilation des applications
          </blockquote>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Version Angular</h3>

          <p>
            Une version tout les 6 mois (<a
              href="https://angular.dev/reference/releases#release-schedule"
              >voir ici</a
            >)
          </p>
          <p><img src="../assets/monté-version.png" /></p>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Liens utiles</h3>
          <ul>
            <li><a href="https://angular.dev/">Doc officielle</a></li>
            <li>
              <a href="https://www.angular.courses/caniuse/features"
                >Liste des features introduite dans les différentes versions</a
              >
            </li>
            <li>
              <a href="https://material.angular.dev/">Angular material</a>
            </li>
            <li>
              <a href="https://github.com/angular/angular">Repo Angular</a>
            </li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Angular vs Vue vs React</h3>

          <ul>
            <li>
              Angular : framework complet (routing, HTTP, forms intégrés),
              structurant, idéal pour les grosses applications
            </li>

            <li>
              React : bibliothèque orientée composants, très flexible, nécessite
              des librairies externes (routing, state management)
            </li>

            <li>
              Vue : framework progressif, simple à prendre en main, bon
              compromis entre Angular et React
            </li>

            <li>
              Cas d'usage :
              <ul>
                <li>Angular : projets structurés, équipes importantes</li>
                <li>React : produits très dynamiques, écosystème riche</li>
                <li>Vue : projets rapides, pédagogie, petites équipes</li>
              </ul>
            </li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Choix du cours</h3>

          <ul>
            <li>Angular 21</li>
            <ul>
              <li>Courbe d'apprentissage moins grande</li>
            </ul>
            <li>(Quelques notions de "comment c'était avant")</li>
            <li style="margin-top: 0.9em"><strong>Prérequis</strong></li>
            <ul>
              <li>En dev: Node/Npm (ajout de lib, build, start dev...)</li>
              <li>Typescript</li>
              <li style="margin: 0.5em 0">
                <span class="kiki-ultimate">Du CSS</span>
              </li>
              <li>
                Un IDE: vscode, intelij,...
                <ul>
                  <li>
                    Pour les utilisateurs de VSCode installer l'extension
                    Angular Language Service
                  </li>
                </ul>
              </li>
            </ul>
          </ul>
        </section>

        <section
          data-background-image="../assets/fond-blanc.png"
          style="zoom: 0.75"
        >
          <h3>Plan de cours</h3>
          <app-plan completed="-1"></app-plan>
        </section>

        <section data-background-image="../assets/fond-bienvenue.png">
          <h1>
            Création premier projet<br />
            structure<br />
            fichiers de conf
          </h1>
          <div
            style="
              display: flex;
              justify-content: center;
              padding: 0;
              margin-top: 2em;
            "
          >
            <app-plan completed="0" style="font-size: 0.4em"></app-plan>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Installation Angular CLI</h2>
          <pre><code class="language-bash">
npm install -g @angular/cli # -g pour global installation
ng version
      </code></pre>
          <p>
            la cli constitue l'interface principale pour créer, développer,
            tester et livrer une application Angular.
          </p>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Commandes principales de @angular/cli</h3>

          <table>
            <tbody>
              <tr>
                <td>ng new</td>
                <td>
                  crée un nouveau projet Angular avec une configuration initiale
                  complète
                </td>
              </tr>
              <tr>
                <td>ng serve</td>
                <td>
                  lance un serveur de développement avec rechargement
                  automatique
                </td>
              </tr>
              <tr>
                <td>ng build</td>
                <td>
                  compile l'application pour le développement ou la production
                </td>
              </tr>
              <tr>
                <td>ng generate</td>
                <td>
                  génère du code standardisé comme composants, services et
                  routes
                </td>
              </tr>
              <tr>
                <td>ng test</td>
                <td>exécute les tests unitaires</td>
              </tr>
              <tr>
                <td>ng lint</td>
                <td>analyse la qualité et la conformité du code</td>
              </tr>
              <tr>
                <td>ng add</td>
                <td>
                  ajoute et configure automatiquement des dépendances Angular
                  compatibles
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Créer une nouvelle application</h2>
          <pre><code class="language-bash">
ng new mon-projet-de-fou-dingue
cd mon-projet-de-fou-dingue
npm start
      </code></pre>
          <p>
            Les options classiques qu'on met en place:
            <img src="../assets/new-projet-angular.png" />
          </p>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>TP6</h2>
          <ol>
            <li>Installer angular cli en global</li>
            <li>Créer un nouveau projet angular</li>
            <li>Installer les dépendances</li>
            <li>Lancer le serveur de dev + ouvrir l'appli</li>
            <li>Parcourir les fichiers checker un peu le contenu</li>
          </ol>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Structure d'un projet Angular</h2>
          <pre style="height: 450px"><code class="language-text">
tp6
├─ angular.json          // configuration du workspace Angular (build, serve, assets)
├─ package-lock.json     
├─ package.json          // dépendances, scripts du projet
├─ public                // dossier d'assets utilisé dans l'appli
│  └─ favicon.ico        
├─ src
│  ├─ app
│  │  ├─ app.config.ts   // configuration globale de l'application (providers, router, http)
│  │  ├─ app.routes.ts   // définition du routage principal
│  │  ├─ app.ts          // composant racine de l'application
│  │  ├─ app.html        // template HTML du composant racine
│  │  ├─ app.css         // styles CSS du composant racine
│  │  └─ app.spec.ts     // tests unitaires du composant racine
│  ├─ index.html         // page HTML hôte de l'application Angular
│  ├─ main.ts            // point d'entrée, bootstrap de l'application
│  └─ styles.css         // styles globaux partagés de l'application
├─ tsconfig.app.json     // configuration TypeScript spécifique à l'application
├─ tsconfig.json         // configuration TypeScript globale du projet
└─ tsconfig.spec.json    // configuration TypeScript dédiée aux tests
  </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Bootstrap Angular</h2>
          <pre><code>
index.html                       // page hôte Angular
  ↓ (&lt;app-root&gt;)
main.ts                          // point d'entrée de l'application, angular n'est pas encore démarré
                                 // du coup on peut faire des trucs avant le bootstrap
  ↓ bootstrapApplication(AppComponent, appConfig)  // démarre l'application angular avec :
          ↓                                                         ↓                        
app.config.ts                                  +        AppComponent  &lt;app-root&gt;
// configuration globale de l'application               // composant racine de l'application 
// (providers, router, http)

  </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Fichiers de configuration TypeScript</h2>

          <p>
            Angular s'appuie sur plusieurs fichiers tsconfig afin de séparer la
            configuration TypeScript selon le contexte d'exécution. Cette
            séparation permet d'optimiser la compilation et d'adapter les règles
            aux usages spécifiques.
          </p>

          <table>
            <thead>
              <tr>
                <th>Fichier</th>
                <th>Rôle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>tsconfig.json</td>
                <td>
                  configuration TypeScript globale du projet elle définit les
                  options communes comme strict, target et module
                </td>
              </tr>
              <tr>
                <td>tsconfig.app.json</td>
                <td>
                  configuration spécifique à l'application utilisée pour la
                  compilation du code exécuté dans le navigateur
                </td>
              </tr>
              <tr>
                <td>tsconfig.spec.json</td>
                <td>
                  configuration dédiée aux tests unitaires inclut les fichiers
                  spec et les types nécessaires au framework de test
                </td>
              </tr>
            </tbody>
          </table>

          <p>
            Les fichiers tsconfig.app.json et tsconfig.spec.json étendent
            tsconfig.json afin d'hériter d'une base commune
          </p>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Archi</h3>
          <img src="../assets/archi_angular.png" alt="" />
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Archi</h3>
          <p>
            Angular est basé sur une architecture modulaire et orientée
            composants. Les principales briques sont :
          </p>
          <ul>
            <li>Composants : unités réutilisables d'interface utilisateur</li>
            <li>Services : logique métier et partage de données</li>
            <li>
              Directives : manipulent le DOM et le comportement des éléments
            </li>
            <li>Pipes : transforment les données pour l'affichage</li>
            <li>Routage : navigation entre différentes vues</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-bienvenue.png">
          <h1 style="margin-top: 1.5em; margin-bottom: 0.8em">
            Les composants Angular
          </h1>
          <div style="display: flex; justify-content: center">
            <app-plan completed="1" style="font-size: 0.4em"></app-plan>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Composants - Base</h2>
          <ul>
            <li>Bloc fondamental de toute application Angular</li>
            <li>C'est ce que voit l'utilisateur</li>
            <li>Représente une partie d'une page web</li>
            <li>Un composant contient :</li>
            <ul>
              <li>Un décorateur @Component avec sa configuration</li>
              <li>Un template HTML qui contrôle le rendu DOM</li>
              <li>Un sélecteur CSS pour l'utilisation dans un template</li>
              <li>Une classe TypeScript avec le comportement</li>
            </ul>
          </ul>
          <div class="col-2">
            <pre><code class="ts">// Composant avec template inline

@Component({
  selector: 'user-profile',
  imports: [],
  styles: `p { color: blue; }`,
  template: `
    <h1>User profile</h1>
    <p>This is the user profile page</p>
  `,
})
export class UserProfile {}</code></pre>
            <pre><code class="ts">// Composant avec template et styles externes

@Component({
  selector: 'user-profile',
  imports: [],
  templateUrl: 'user-profile.html',
  styleUrl: 'user-profile.css',
})
export class UserProfile {}</code></pre>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Arbre de composants</h2>
          <div class="col-2">
            <svg
              viewBox="0 0 900 520"
              width="900"
              height="520"
              role="img"
              aria-label="Schéma de composants : UserProfile contient UserBiography et ProfilePhoto, et UserBiography contient UserAddress"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs>
                <marker
                  id="arrow"
                  viewBox="0 0 10 10"
                  refX="9"
                  refY="5"
                  markerWidth="8"
                  markerHeight="8"
                  orient="auto-start-reverse"
                >
                  <path d="M 0 0 L 10 5 L 0 10 z" fill="#d9d9d9"></path>
                </marker>

                <style>
                  .box {
                    stroke: #d9d9d9;
                    stroke-width: 2;
                    rx: 8;
                    ry: 8;
                  }
                  .label {
                    fill: #ffffff;
                    font-family: system-ui, -apple-system, Segoe UI, Roboto,
                      Arial, sans-serif;
                    font-size: 22px;
                    font-weight: 600;
                  }
                  .link {
                    fill: none;
                    stroke: #d9d9d9;
                    stroke-width: 2.5;
                    marker-end: url(#arrow);
                  }
                </style>
              </defs>

              <!-- UserProfile -->
              <rect class="box" x="330" y="40" width="240" height="70"></rect>
              <text class="label" x="450" y="83" text-anchor="middle">
                UserProfile
              </text>

              <!-- UserBiography -->
              <rect class="box" x="110" y="200" width="260" height="70"></rect>
              <text class="label" x="240" y="243" text-anchor="middle">
                UserBiography
              </text>

              <!-- ProfilePhoto -->
              <rect class="box" x="530" y="200" width="260" height="70"></rect>
              <text class="label" x="660" y="243" text-anchor="middle">
                ProfilePhoto
              </text>

              <!-- UserAddress -->
              <rect class="box" x="110" y="360" width="260" height="70"></rect>
              <text class="label" x="240" y="403" text-anchor="middle">
                UserAddress
              </text>

              <!-- Links -->
              <!-- From UserProfile to UserBiography -->
              <path class="link" d="M 450 110 C 450 150 310 160 240 200"></path>

              <!-- From UserProfile to ProfilePhoto -->
              <path class="link" d="M 450 110 C 450 150 590 160 660 200"></path>

              <!-- From UserBiography to UserAddress -->
              <path class="link" d="M 240 270 C 240 305 240 325 240 360"></path>
            </svg>
            <pre><code class="language-typescript">
@Component({
  selector: 'user-profile',
  imports: [UserBiography, ProfilePhoto],
  template: `
    <user-biography></user-biography>
    <profile-photo></profile-photo>
`})
export class UserProfile {}

@Component({
  selector: 'user-biography',
  imports: [UserAddress],
  template: `
    <user-address></user-address>
`})
export class UserBiography {}
</code></pre>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>TP6(b)</h3>
          <ul>
            <li>Mettre en place cette arborescences</li>
          </ul>
          <pre><code class="language-text">
tp6
...
├─ src
│  ├─ app
│  │  ├─ core/                        // services singleton, logique transverse
│  │  │  ├─ services/
│  │  │  └─ guards/
│  │  ├─ pages/                       // pages de l'appli
│  │  ├─ features/                    // domaines fonctionnels (lazy loading)
│  │  │  ├─ entete/
│  │  │  └─ &lt;...&gt;
│  │  ├─ shared/                      // composants et utilitaires réutilisables
│  │  │  └─components/
│  │  ├─ app.routes.ts                // routage principal 
│  │  └─ app.component.ts             // composant racine  
...
  </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>TP7</h3>
          <ol>
            <li>Dans le même dossier que pour le TP6</li>
            <li>
              Créer un composant "Entete" avec la cli qui affiche "Ma super
              application"
            </li>
            <li>
              Inclure Entete dans le template du composant racine (app.ts)
            </li>
            <li>Vérifier que le message s'affiche dans l'application</li>
            <li>
              Faire en sorte que Entete prenne toute la largeur de l'écran
            </li>
            <li>
              Ajouter un style de fond et un peu de padding au composant Entete
            </li>
            <li>Créer un composant "Contenu" avec une balise</li>
            <li>
              Ajouter une balise main dans app qui contient le composant Contenu
            </li>
          </ol>
          <p><img src="../assets/tp7.png" alt="" /></p>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Interface dynamiques avec les composants</h3>
          <p>(On va tout voir dans les slides suivantes)</p>

          <pre><code class="ts">@Component({
  selector: 'app-salut',
  imports: [],
  template: `<h3>{{titre()}}</h3>
  <button (click)="changerLeTitre()" [disabled]="titreAChange()">Changer le titre</button>
  @if(titreAChange()) {
    <p>Le titre a été changé !</p>
  }`,
})
export class Salut {

  public titre = signal("Bonjour tout le monde !");
  public titreAChange = signal(false);

  changerLeTitre() {
    this.titreAChange.set(true);
    this.titre.set("Salut les bg !");
  }
}</code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Interface dynamiques avec les composants</h3>
          <div class="col-2" style="gap: 20px">
            <img
              src="../assets/archi_composant.png"
              alt=""
              style="width: 40%"
            />
            <pre><code class="ts">// Interpolation : afficher des valeurs dans le HTML
<h3>{{titre()}}</h3>

// Property binding : lier une propriété d'un élément HTML à une propriété du composant
<button [disabled]="titreAChange()">Changer le titre</button>

// Event binding : lier un événement d'un élément HTML à une méthode du composant
<button (click)="changerLeTitre()">Changer le titre</button>

// Control flow : modifier la structure du DOM en fonction d'une condition
@if(titreAChange()) {
  <p>Le titre a été changé !</p>
}</code>
          </pre>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Interpolation</h2>
          <p>L'interpolation permet d'afficher des valeurs dans le HTML</p>
          <div class="col-2">
            <pre><code class="html">
<p>Utilisateur : {{ username() }}</p>
<p>Total : {{ total() }}</p>
  </code></pre>
            <pre><code class="ts">@Component({...})
export class UserProfile {
  public username = signal('Alice');
  public total = signal(42);
}
  </code></pre>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Property binding</h2>
          <p>
            Le property binding permet de lier une propriété DOM à une
            expression.
          </p>
          <pre><code class="html">
<img [src]="avatarUrl()" [alt]="username()">
<button [disabled]="isDisabled()">Valider</button>
  </code></pre>
          <ul>
            <li>Utilise la syntaxe [property]</li>
            <li>Fonctionne avec les propriétés DOM et directives</li>
          </ul>
        </section>

        <section
          data-background-image="../assets/fond-blanc.png"
          style="zoom: 0.95"
        >
          <h2>Top des property bindings Angular</h2>

          <table class="compact-table">
            <colgroup>
              <col style="width: 20%" />
              <col style="width: 30%" />
              <col style="width: 50%" />
            </colgroup>

            <thead>
              <tr>
                <th>Property binding</th>
                <th>Usage</th>
                <th>Exemple</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>disabled</td>
                <td>Activer ou désactiver un contrôle</td>
                <td>
                  <pre><code class="html"><button [disabled]="isDisabled()">Save</button></code></pre>
                </td>
              </tr>

              <tr>
                <td>value</td>
                <td>Définir la valeur d'un champ</td>
                <td>
                  <pre><code class="html"><input [value]="username()"></code></pre>
                </td>
              </tr>

              <tr>
                <td>checked</td>
                <td>Cocher / décocher checkbox ou radio</td>
                <td>
                  <pre><code class="html"><input type="checkbox" [checked]="isSelected()"></code></pre>
                </td>
              </tr>

              <tr>
                <td>src</td>
                <td>Source d'une image ou iframe</td>
                <td>
                  <pre><code class="html"><img [src]="avatarUrl()" [alt]="username()"></code></pre>
                </td>
              </tr>

              <tr>
                <td>alt</td>
                <td>Texte alternatif d'image, accessibilité</td>
                <td>
                  <pre><code class="html"><img [src]="imgUrl()" [alt]="imgAlt()"></code></pre>
                </td>
              </tr>

              <tr>
                <td>class</td>
                <td>Ajouter / retirer une classe CSS</td>
                <td>
                  <pre><code class="html"><div [class.active]="isActive()"></div></code></pre>
                </td>
              </tr>

              <tr>
                <td>style</td>
                <td>Appliquer un style inline dynamique</td>
                <td>
                  <pre><code class="html"><div [style.opacity]="isDisabled() ? 0.5 : 1"></div></code></pre>
                </td>
              </tr>

              <tr>
                <td>hidden</td>
                <td>Masquer un élément (sans le retirer du DOM)</td>
                <td>
                  <pre><code class="html"><section [hidden]="!isVisible()"></section></code></pre>
                </td>
              </tr>

              <tr>
                <td>title</td>
                <td>Afficher une info-bulle native</td>
                <td>
                  <pre><code class="html"><button [title]="tooltip()">Info</button></code></pre>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Event binding</h2>
          <p>L'event binding permet de réagir aux événements utilisateurs.</p>
          <pre><code class="ts">@Component({
selector: 'user-profile',
imports: [],
template: `
  <button (click)="onSave()">Sauvegarder</button>
  <input (input)="onInput($event)">
`
})
export class UserProfile {
  onSave() {
    console.log('Profil sauvegardé !');
  }

  onInput(event: Event) {
    const input = event.target as HTMLInputElement;
    console.log('Input value:', input.value);
  }
}  </code></pre>
          <ul>
            <li>Utilise la syntaxe (event)</li>
            <li>Appelle une méthode du composant</li>
            <li>Les events natifs du DOM et ceux qu'on va dev</li>
          </ul>
        </section>
        <section style="zoom: 0.9999">
          <h2>Top événements DOM essentiels</h2>

          <table class="compact-table">
            <colgroup>
              <col style="width: 20%" />
              <col style="width: 30%" />
              <col style="width: 50%" />
            </colgroup>
            <thead>
              <tr>
                <th>Événement</th>
                <th>Usage principal</th>
                <th>Exemple Angular</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>click</td>
                <td>Action utilisateur principale, boutons</td>
                <td>
                  <pre><code class="html"><button (click)="save()">Save</button></code></pre>
                </td>
              </tr>

              <tr>
                <td>input</td>
                <td>Saisie temps réel, formulaires réactifs</td>
                <td>
                  <pre><code class="html"><input (input)="onInput($event)"></code></pre>
                </td>
              </tr>

              <tr>
                <td>change</td>
                <td>Validation d'un champ, select, checkbox</td>
                <td>
                  <pre><code class="html"><select (change)="onChange($event)"></select></code></pre>
                </td>
              </tr>

              <tr>
                <td>submit</td>
                <td>Envoi et validation d'un formulaire</td>
                <td>
                  <pre><code class="html"><form (submit)="onSubmit()"></form></code></pre>
                </td>
              </tr>

              <tr>
                <td>keydown</td>
                <td>Raccourcis clavier, navigation</td>
                <td>
                  <pre><code class="html"><input (keydown)="onKeyDown($event)"></code></pre>
                </td>
              </tr>

              <tr>
                <td>keyup</td>
                <td>Recherche, filtrage après saisie</td>
                <td>
                  <pre><code class="html"><input (keyup)="onKeyUp($event)"></code></pre>
                </td>
              </tr>

              <tr>
                <td>focus</td>
                <td>Entrée dans un champ, accessibilité</td>
                <td>
                  <pre><code class="html"><input (focus)="onFocus()"></code></pre>
                </td>
              </tr>

              <tr>
                <td>blur</td>
                <td>Sortie de champ, validation</td>
                <td>
                  <pre><code class="html"><input (blur)="onBlur()"></code></pre>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Two-way binding</h2>
          <p>Le two-way binding combine lecture et écriture.</p>
          <p>(ca existe perso je fais tout pour pas m'en servir)</p>
          <pre><code class="html">
<input [(ngModel)]="name">
  </code></pre>
          <ul>
            <li>Surtout utilisé avec les formulaires simples</li>
            <li>À éviter au profit des Reactive Forms</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Control flow natif</h2>
          <p>
            Angular fournit des structures de contrôle intégrées au langage de
            template.
          </p>
          <pre><code class="html"><!-- if then else -->
@if (isLoggedIn()) {
  <p>Bienvenue</p>
} @else {
  <p>Veuillez vous connecter</p>
}
  </code></pre>
          <pre><code class="html"><!--  for loop -->
@for (item of items(); track item.id) {
  <li>{{ item.name }}</li>
}
</code></pre>
          <pre><code class="html">
            <!--  déclare variable -->
@let toto = 'salut les champions'
{{toto}}
  </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Content projection (ng-content)</h3>

          <p>
            Recevoir du contenu HTML depuis un parent et de l'insérer à des
            emplacements précis de son template grâce à &lt;ng-content&gt;
          </p>
          <ul>
            <li>Réutilisation de composants</li>
            <li>Exemple: bouton générique, carte, modale...</li>
            <li>
              Exemple:
              <a
                href="https://monagence.uem-metz.fr/#/creation-de-compte/informations-contrat"
                >ici</a
              >
            </li>
          </ul>

          <div class="col-2">
            <pre><code class="language-ts">
// Le fils controle l'insertion de contenu
@Component({
  selector: 'app-card',
  template: `
    <div class="card">
      <header>
        <ng-content select="[card-title]"></ng-content>
      </header>

      <section data-background-image="../assets/fond-blanc.png">
        <ng-content></ng-content>
      </section>
    </div>
  `
})
export class CardComponent {}
  </code></pre>

            <pre><code class="language-html">
<!-- Utilisation pars le parent -->
<app-card>
  <!-- Peut en avoir plusieurs sections de contenu -->
  <h3 card-title>Titre de la carte</h3>
  <p>Contenu principal de la carte</p>
</app-card>
  </code></pre>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>TP8</h2>
          <ul>
            <li>
              Ajouter un titre "Bienvenue" dans le code TS de Contenu et
              l'afficher dans l'HTML
            </li>
            <li>Ajouter un titre "TP8" dans le HTML de Contenu</li>

            <li>
              Créer un composant PropertyEtEventBinding et l'ajouter sous le
              HTML du composant Main
            </li>
            <ul>
              <li>
                Ajouter un bouton et une checkbox. Au clic sur le bouton, il
                faut que la checkbox s'active ou se désactive.
              </li>
            </ul>

            <li>
              Créer un composant Carte et utiliser ng-content pour y injecter
              des données. Mettre en place une carte dans le HTML du composant
              Contenu qui affiche PropertyEtEventBinding.
            </li>

            <li>
              Créer un composant ListePersonnes. Créer une liste de personnes
              (dans le TS) avec un nom et un âge, puis afficher cette liste dans
              une balise ul/li.
            </li>

            <li>
              Créer un composant CouleurCestBeau. Créer un select HTML contenant
              "vide" ou "rouge". Lorsque le select vaut "rouge", afficher le
              texte "c'est trop beau".
            </li>

            <li>
              Ajouter du padding, des marges et une bordure dans le composant
              Carte et améliorer la mise en page des différentes cartes.
            </li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-bienvenue.png">
          <h1 style="margin-top: 1.5em; margin-bottom: 0.8em">
            Angular Signals
          </h1>
          <div style="display: flex; justify-content: center; padding: 0">
            <app-plan completed="4" style="font-size: 0.4em"></app-plan>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Angular Signals</h2>
          <p>(Nouveau) Mécanisme réactif natif d'Angular pour gérer l'état</p>
          <ul>
            <li>
              Ils remplacent de nombreux usages complexes de RxJS pour l'état
              local
            </li>
            <li>Ils sont synchrones, prédictibles et typés</li>
            <li>Angular sait exactement quand recalculer et rerendre</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Créer un signal</h2>
          <p>
            Un signal contient une valeur et notifie automatiquement les
            consommateurs lors des changements.
          </p>
          <pre><code class="ts">
import { signal } from '@angular/core';

const count = signal(0);

count.set(1);
count.update(value => value + 1);
  </code></pre>
          <ul>
            <li>signal() crée un état réactif</li>
            <li>set remplace la valeur</li>
            <li>update applique une transformation</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Lire un signal</h2>
          <p>La lecture d'un signal se fait comme une fonction.</p>
          <pre><code class="ts">
console.log(count());
  </code></pre>
          <p>Dans un template Angular, la lecture est automatique.</p>
          <pre><code class="html">
<p>Valeur : {{ count() }}</p>
  </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Signals et composants</h2>
          <p>Les signals sont idéaux pour l'état local d'un composant.</p>
          <pre><code class="ts">
@Component({
  selector: 'counter',
  template: `
    <button (click)="increment()">+</button>
    <span>{{ count() }}</span>
  `,
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class CounterComponent {
  count = signal(0);

  increment() {
    this.count.update(v => v + 1);
  }
}
  </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Computed signals</h2>
          <p>Permet de dériver un état à partir d'autres signals</p>
          <pre><code class="ts">
const doubleCount = computed(() => count() * 2); // Dépend de count
                                                 // Recalculer uniquement si count change

count.set(2);
console.log(doubleCount()); // Affiche 4

count.set(2);
console.log(doubleCount()); // Affiche 4 (car pas de changement)

count.set(5);
console.log(doubleCount()); // Affiche 10

count.update(v => v + 1);
console.log(doubleCount()); // Affiche 12
  </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Effect</h2>
          <p>Exécute du code en réaction aux changements de signals</p>
          <pre><code class="ts">
import { effect } from '@angular/core';

effect(() => {
  console.log('count changed:', count());
});
  </code></pre>
          <ul>
            <li>Utile pour le logging, les appels API ou le stockage local</li>
            <li>Ne doit pas modifier directement l'état</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>TP9</h2>
          <ul>
            <li>Ajouter un titre "TP9" dans le HTML de Contenu</li>

            <li>
              Créer un composant ChiffreLePlusGrand et l’afficher dans une carte
            </li>

            <li>
              Créer un champ input de type number et un bouton « Ajouter ». Au
              clic sur le bouton « Ajouter », le chiffre renseigné dans l’input
              est ajouté à une liste de nombres.
            </li>

            <li>
              Créer dans le template HTML deux colonnes : <br />– une colonne
              contenant la liste des nombres ; <br />– une autre colonne
              affichant le plus grand chiffre de la liste.
            </li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-bienvenue.png">
          <h1 style="margin-top: 1.5em; margin-bottom: 0.8em">Input/Output</h1>
          <div style="display: flex; justify-content: center; padding: 0">
            <app-plan completed="5" style="font-size: 0.4em"></app-plan>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Input Signals</h3>

          <p>
            Les Input Signals permettent de déclarer des entrées de composant
            sous forme de signals, rendant les dépendances de données explicites
            et automatiquement réactives
          </p>

          <div class="col-2">
            <pre><code class="language-ts">
// user-profile.component.ts
@Component({
  selector: 'app-user-profile',
  template: `
    <p>Utilisateur : {{ name() }}</p> 
    <p>Age : {{ age() }}</p>
  `
})
export class UserProfileComponent {
  name = input.require&lt;string&gt;()  // obligatoire
  age = input&lt;number&gt;()           // optionnel
}
  </code></pre>
            <pre><code class="language-html">
<!-- Composant père -->
<app-user-profile [name]="'Alice'" [age]="30"></app-user-profile>

<!-- Ca marche age n'est pas obligatoire -->
<app-user-profile [name]="'Eric'"></app-user-profile>

<!-- Ca marche pas name est obligatoire -->
<app-user-profile [age]="10"></app-user-profile>
  </code></pre>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>Output Signals</h3>

          <p>
            Les Output Signals permettent d'émettre des événements vers le
            parent en utilisant une API basée sur les signals, plus simple et
            plus typée que EventEmitter.
          </p>

          <ul>
            <li>Déclaration via output()</li>
            <li>$event contient la valeur émise</li>
            <li>Utilisation avec la syntaxe (event)</li>
          </ul>

          <div class="col-2">
            <pre><code class="language-ts">// counter.component.ts
@Component({
  selector: 'app-counter',
  template: `
    <button (click)="increment()">+</button>
  `
})
export class CounterComponent {
  countChange = output&lt;number&gt;()
  private count = 0

  increment() {
    this.count++
    this.countChange.emit(this.count)
  }
}</code></pre>
            <pre><code class="language-html"><!-- app.component.html -->
<app-counter
  (countChange)="onCountChange($event)">
</app-counter>
  </code></pre>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Bonnes pratiques</h2>
          <ul>
            <li>Templates courts et lisibles</li>
            <li>Une responsabilité par composant</li>
            <li>Logique métier dans la classe</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>TP10</h2>
          <ul>
            <li>Ajouter un titre "TP10" dans le HTML de Contenu</li>

            <li>
              Créer un composant DetailPersonne et l’afficher dans une carte
            </li>

            <li>Modifier le composant ListePersonnes</li>
            <ul>
              <li>
                Ajouter un bouton « Voir » à la fin de chaque personne de la
                liste. Ce bouton s’affiche uniquement si l’input
                "afficherBoutonVoir" vaut true (par défaut, le mettre à false).
              </li>

              <li>
                Au clic, un output event de type "Personne" (à créer) est émis
                avec la personne sélectionnée.
              </li>

              <li>
                Ajouter une autre carte contenant le composant ListePersonnes
                dans Contenu. Le deuxième composant ListePersonnes doit avoir
                "afficherBoutonVoir" à true.
              </li>

              <li>
                Le composant DetailPersonne doit afficher la personne
                sélectionnée.
              </li>
            </ul>
          </ul>
        </section>

        <section data-background-image="../assets/fond-bienvenue.png">
          <h1 style="margin-top: 1.5em; margin-bottom: 0.8em">Services</h1>
          <div style="display: flex; justify-content: center; padding: 0">
            <app-plan completed="6" style="font-size: 0.4em"></app-plan>
          </div>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Service : base</h2>
          <p>
            Un service est une classe TypeScript réutilisable qui encapsule une
            logique métier ou une fonctionnalité transversale
          </p>
          <ul>
            <li>Accès API (HTTP)</li>
            <li>Partage d'état</li>
            <li>Auth, logs, erreurs, caches</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h3>À quoi sert l'injection de dépendances ?</h3>

          <ul>
            <li>Découpler les classes entre elles</li>
            <li>Éviter la création manuelle des dépendances</li>
            <li>Centraliser la gestion des instances</li>
            <li>Faciliter les tests unitaires (mocks, fakes)</li>
            <li>Améliorer la maintenabilité et l'évolutivité du code</li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Créer un service (providedIn: 'root')</h2>
          <div class="col-2">
            <pre><code class="language-ts">
// calculator.service.ts
import { Injectable } from '@angular/core';

@Injectable({ providedIn: 'root' }) // singleton global
export class CalculatorService {
  add(x: number, y: number): number {
    return x + y;
  }
}
          </code></pre>
            <pre><code class="language-ts" data-trim data-line-numbers="10">
// app.component.ts
import { Component, inject } from '@angular/core';
import { CalculatorService } from './calculator.service';

@Component({
  selector: 'app-root',
  template: `<p>Total : {{ total() }}</p>`
})
export class AppComponent {
  private calc = inject(CalculatorService);
  private total = signal(this.calc.add(5, 10));
}
          </code></pre>
          </div>
          <ul>
            <li>
              @Injectable() est une décoration qui indique à Angular que la
              classe est un service
            </li>
            <li>
              providedIn: 'root' signifie que le service est disponible dans
              toute l'application (la plupart du temps ce qu'on veut)
            </li>
            <li>
              inject() permet d'obtenir une instance du service dans un
              composant ou un autre service
            </li>
          </ul>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Portée locale : providers dans le composant</h2>
          <p>
            Si le service est dans providers d'un composant, Angular crée une
            instance propre à ce composant et ses enfants
          </p>
          <pre><code class="language-ts" data-trim data-line-numbers="11,7">
import { Component } from '@angular/core';
import { CalculatorService } from './calculator.service';

@Component({
  selector: 'app-local',
  standalone: true,
  providers: [CalculatorService],
  template: `<p>Local total : {{ total() }}</p>`
})
export class LocalComponent {
  private calc = inject(CalculatorService);
  private total = signal(this.calc.add(1, 2)) ;
}
          </code></pre>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>Signals : état dans un service</h2>
          <p>Un service peut héberger un état partagé via signals</p>
          <div class="col-2">
            <pre><code class="language-ts">@Injectable({ providedIn: 'root' })
export class CounterStore {
  private _count = signal(0);
  public readonly count = this._count.asReadonly();

  inc(): void {
    this._count.update(v => v + 1);
  }

  reset(): void {
    this._count.set(0);
  }
}
          </code></pre>

            <pre><code class="language-ts">@Component({
  selector: 'app-counter',
  standalone: true,
  template: `
    <p>Count : {{ store.count() }}</p>

    <button (click)="store.inc()">+1</button>
    <button (click)="store.reset()">Reset</button>
  `
})
export class CounterComponent {
  store = inject(CounterStore);
}
          </code></pre>
          </div>

          <p>
            Note: asReadonly() pour exposer un signal en lecture seule
            <br />(impossible de bidouiller la valeur depuis l'extérieur)
          </p>
        </section>

        <section data-background-image="../assets/fond-blanc.png">
          <h2>TP11</h2>
          <ul>
            <li>Ajouter un titre "TP11" dans le HTML de Contenu</li>

            <li>
              Créer un composant ListePersonnesAvecService et l’afficher dans
              une carte
            </li>

            <li>Créer un service PersonneService</li>

            <li>
              Désormais, c’est PersonneService qui doit connaître la liste des
              personnes : créer une liste (pas encore dans un signal pour
              commencer).
            </li>

            <li>
              Le composant ListePersonnesAvecService va récupérer cette liste et
              l’afficher.
            </li>

            <li>
              Ajouter un bouton « gommer > 33 » permettant de supprimer les
              personnes de plus de 33 ans.
            </li>

            <li>
              Rien ne se passe : c’est normal, vous n’avez pas utilisé de
              signal. Tout passer en signal.
            </li>

            <li>
              Créer un composant DetailPersonneAvecService et l’afficher dans
              une carte
            </li>

            <li>
              Ajouter un bouton « Voir » à la fin de chaque ligne dans
              ListePersonnesAvecService.
            </li>

            <li>
              Au clic sur « Voir », la personne sélectionnée est stockée dans le
              service PersonneService.
            </li>

            <li>
              Le composant DetailPersonneAvecService affiche cette personne.
            </li>
          </ul>
        </section>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/reveal.js/plugin/highlight/highlight.js"></script>

    <script>
      Reveal.initialize({
        hash: true,
        slideNumber: true,
        plugins: [RevealHighlight],
      });
    </script>
  </body>
</html>
